In [3]:
import pandas as pd
import pyodbc

In [7]:
SERVER = 'DESKTOP-12997T8'
DATABASE = 'Student360_DatawareHouse'

In [8]:
connectionString = f'DRIVER={{SQL Server}};SERVER={SERVER};DATABASE={DATABASE}'

In [9]:
conn = pyodbc.connect(connectionString)

In [10]:
SQL_QUERY = """
select * from Student360_DataWarehouse.dbo.FactStudentPerformance;
"""

In [16]:
# Execute the SQL query
cursor = conn.cursor()
cursor.execute(SQL_QUERY)

# Fetch the top 5 rows
rows = cursor.fetchmany(5)

# Display each row
for row in rows:
    print(row)

# Close the cursor and connection when done
cursor.close()
conn.close()

('ciit/fa14-bcs-106/isb', 1, 7, 1, 1, 1, 2, 3364, 75.0, 72.0, 78.0, None, None, 2.983333333333333, 3.0899999999999994, 2.966666666666667, None, 3.165, None, None, 2.8899999999999997, None, None, Decimal('-0.08'), 3.03, 0, 0, 0, 0)
('ciit/fa14-bcs-1092/isb', 1, 8, 1, 1, 1, 2, 727, 57.0, 54.0, 56.0, None, None, 3.2249999999999996, 2.3982608695652177, 2.828333333333333, None, 3.0425, None, None, 2.61, None, None, Decimal('-0.08'), 2.7, 0, 0, 0, 0)
('ciit/fa14-bcs-1139/isb', 1, 7, 1, 1, 1, 2, 3418, 76.0, 73.0, 78.0, None, None, 3.198571428571428, 3.0356521739130438, 3.0666666666666664, None, 3.0999999999999996, None, None, 3.26, None, None, Decimal('-0.06'), 3.08, 0, 0, 0, 0)
('ciit/fa14-bcs-1189/isb', 1, 5, 1, 1, 1, 2, 866, 66.0, 63.0, 66.0, None, None, 3.0119999999999996, 2.9239130434782608, 2.98, None, 3.115, None, None, 2.8666666666666667, None, None, Decimal('-0.05'), 2.96, 0, 0, 0, 0)
('ciit/fa14-bcs-1190/isb', 1, 5, 1, 1, 1, 2, 1849, 32.0, 32.0, 34.0, None, None, 2.296666666666667, 2.35909090909091, 2.243333333333333, None, 2.6125000000000003, None, None, 1.865, None, None, Decimal('-0.15'), 2.3, 0, 0, 0, 0)

None